/* Hero Section */
.hero-section {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.hero-mesg {
  background: rgba(0,0,0,0.5);
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 900px;
  color: #fff;
}

.hero-mesg p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  height: 25px;
}

.hero-mesg a {
  color: #ffd700;
  text-decoration: none;
  font-weight: 600;
}

.hero-mesg a:hover {
  text-decoration: underline;
}

.shop-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #a8bdce;
  border-radius: 8px;
  padding: 20px;
  height: 500px;
}

.shop-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: flex-start;
}

/* Boxes */
.box {
  width: calc(25% - 15px);
  min-width: 220px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  
}

.box-content {
  padding: 12px;
}

.box-content h2 {
  font-size: 18px;
  margin: 0 0 12px 0;
}

.box-img {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 8px;
}

.box-content p {
  margin: 8px 0 0 0;
  color: #0066c0;
  cursor: pointer;
  font-weight: 600;
}
